body {
    background-color: rgb(178, 211, 244);
    font-family: helvetica;
}

#header {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
}
.header-item {
    text-align: center;
    font-size: 2em;
}
.header-item > a {
    text-decoration: none;
    color: black;
}

#main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-style: solid;
    border-width: 1;
}

#left {
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
}

#right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#text {
    padding: 20px;
}

#name {
    font-size: 3em;
}

#intro {
    font-size: 1.5em;
    line-height: 1.5em;
}

#photo {
    padding: 20px;
    border-radius: 10%;
    max-width: 80%;
}

#icons {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    list-style: none;
}

.icon > img, .icon > a > img {
    width: 24px;
    margin-right: 5px;
}

